# Ignore vendor and node_modules
/vendor
/node_modules

# Environment files
.env
.env.backup
.env.production

# Laravel specific
storage/*.key
/public/hot
/public/storage
/storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# IDE and OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
/coverage

# Build files
/public/build

# Compiled class file
*.class

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
